.container {
	display: flex;
	max-width: 100vw;
	margin: 0px;
	padding: 0px;
	max-height: 100vh;
}
.content {
	display: inline-block;
	width: 80vw;
	margin: 10px;
	margin-right: -5px;
}
/* .mt-5 {
	height: inherit;
} */
.leftCol {
	display: inline-block;
	width: 20%;
	height: 92.5vh;
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}
.restaurant-list {
	margin: 0px;
	min-width: 395px;
}
.row {
	margin: 0px;
	min-width: inherit;
}
.card-deck {
	margin-left: 10px;
	min-width: inherit;
}
.card {
	min-width: inherit;
}
.card-body {
	min-width: inherit;
}
h4 {
	min-width: inherit;
}
