.container {
	display: inline;
	padding-right: 0;
	padding-left: 0;
	margin-right: 0;
	margin-left: 0;
}
.content {
	width: 100%;
	margin: 0;
	height: 100vh;
}
.leftCol {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	position: fixed;
	bottom: 0;
	width: inherit;
	height: 30%;
	margin: 1%;
	margin-bottom: 15px;
	padding: 15px;
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom: 20px;
}
.restaurant-list {
	margin: 0.15%;
	margin-bottom: 2%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
	width: inherit;
	height: 100%;
	margin: 1% 1%;
	padding: 2%;
	padding-bottom: 15px;
	justify-items: center;
	border-spacing: 0;
}
.row {
	min-width: 20%;
	max-width: 20%;
	min-height: 100%;
	margin: 5px;
	padding-bottom: 15px;
	display: flex;
	flex-direction: row;
}
.card-deck {
	margin: 0.25%;
	min-height: 100%;
	min-width: 100%;
	border-spacing: 0;
	padding-bottom: 15px;
}
.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: inherit;
	min-width: inherit;
	margin: 0;
	padding-bottom: 15px;
}
.btn {
	margin: 5px;
	margin-bottom: 20px;
	margin-top: 10px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
	.container {
		display: inline;
		padding-right: 0;
		padding-left: 0;
		margin-right: 0;
		margin-left: 0;
	}
	.content {
		width: 100%;
		margin: 0;
		height: 100vh;
	}
	.leftCol {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: row;
		position: fixed;
		bottom: 0;
		width: inherit;
		height: 20%;
		margin: 1% 0.5%;
		margin-bottom: 5px;
		padding: 0;
		overflow-x: auto;
		overflow-y: hidden;
	}
	.restaurant-list {
		height: 100%;
		margin: 0.15%;
		margin-bottom: 5%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: row;
		width: inherit;
		height: 100%;
		padding: 2%;
		padding-bottom: 15px;
		justify-items: center;
	}
	.row {
		min-width: 40%;
		max-width: 40%;
		min-height: 100%;
		margin: 0px;
		padding-bottom: 5px;
		display: flex;
		flex-direction: row;
	}
	.card-deck {
		display: flex;
		align-items: stretch;
		padding: 0.5px;
		min-height: 100%;
		min-width: 100%;
	}
	.card-body {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		min-height: inherit;
		min-width: inherit;
		margin: -7px;
		margin-top: -10px;
		margin-bottom: 2px;
		padding-bottom: 5px;
	}

	.btn {
		justify-content: center;
		padding: 4px;
		margin: 1px;
		/* margin-top: -15px; */
		width: 45%;
		height: 35%;
		font-size: 0.5rem;
	}
	h4 {
		font-size: 0.6rem;
	}
	h5 {
		font-size: 0.6rem;
	}
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
	.container {
		display: inline;
		padding-right: 0;
		padding-left: 0;
		margin-right: 0;
		margin-left: 0;
	}
	.content {
		width: 100%;
		margin: 0;
		height: 100vh;
	}
	.leftCol {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: row;
		position: fixed;
		bottom: 0;
		width: inherit;
		height: 20%;
		margin: 1%;
		margin-bottom: 5px;
		padding: 0;
		overflow-x: auto;
		overflow-y: hidden;
	}
	.restaurant-list {
		height: 98%;
		margin: 0.15%;
		margin-bottom: 5%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: row;
		width: inherit;
		height: 100%;
		margin: 1%;
		padding: 0;

		justify-items: center;
	}
	.row {
		min-width: 40%;
		max-width: 40%;
		min-height: 100%;
		margin: 0;
		padding-bottom: 5px;
		display: flex;
		flex-direction: row;
	}
	.card-deck {
		display: flex;
		align-items: stretch;
		padding: 0.5px;
		min-height: 100%;
		min-width: 100%;
	}
	.card-body {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: stretch;
		min-height: inherit;
		min-width: inherit;
		margin-top: -10px;
		margin-left: -10px;
		padding-bottom: 5px;
		font-size: 80%;
	}
	.btn {
		padding: 5px;
		margin: 0.5px;
		margin-top: 1px;
		width: 50%;
		height: 80%;
		font-size: 90%;
	}
	h4 {
		font-size: 0.9rem;
	}
	h5 {
		font-size: 0.9rem;
	}
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
}
